<%= form_for @conn, Routes.account_path(@conn, :create), [method: :post, as: :user], fn f -> %>
  <%= label f, :email %>
  <%= text_input f, :email%>
  <%= error_tag f, :email %>

  <%= label f, :password %>
  <%= password_input f, :password%>
  <%= error_tag f, :password %>

  <%= submit "Login" %>
<% end %>