<form>
  <label for="fpasscode">Email:</label>
  <input type="text" id="email" name="email"><br>
  <label for="fpasscode">Passcode:</label>
  <input type="text" id="fpasscode" name="fpasscode"><br>
  <input type="submit" value="Input">
</form>